  @import 'components/responsive';

  * {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-weight: 500;
    box-sizing: border-box;
  }

  .form{
    background-image: url(images/bg.png), linear-gradient(250deg, rgba(239,132,41,1) 2%,  rgba(239,41,94,1) 100%); 
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0 15px;
    margin-top: 1rem;
    align-self: center;

  }

  html {
    font-size: 62.5%;
  }
  @media (max-width: 599px) {
    html {
      font-size: 55%;
    }
  }
  @media (min-width: 600px) {
    html {
      font-size: 60%;
    }
  }
  @media (min-width: 900px) {
    html {
      font-size: 85%;
    }
  }
  @media (min-width: 1200px) {
    html {
      font-size: 100%;
    }
  }
  
