@import 'responsive';

.ajax-container{
    background-image: linear-gradient(250deg, rgb(203, 41, 239) 2%,  rgb(229, 116, 146) 100%); 
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
    align-content: center;
    margin: 20px auto;
    height: 35vh;
    max-width: 1000px;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.id-input{
    border: 1px solid;
    border-radius: 0.4rem;
    margin-top:20px;
    width:50%;
    height:20%;
    padding: 0.6rem;
}

ul{
    display:flex;
    list-style: none;
    margin-top: 80px;
    width: 100%;
    justify-content: space-between;
    color: white;
    font-size: 17px;

    @include for-mobile{
        margin-top: 40px;
    }
}