  .form .arrow-signup{
    position: absolute;
    right: 75rem;
    bottom: -0.3rem;  
  }

  .form .arrow-login{
    position: absolute;
    right: 15.5rem;
    bottom: -0.2rem;
    transform: scaleX(-1);
  }

  