  .innerform .button-signup {
    color: #ffffff;
    font-size: 1rem;
    margin-top: 1.9rem;
    width: 100%;
    align-self: center;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    background-color: #e30b5d;
    border-color: #e30b5d;
  }

  .innerform .button-login {
    color: #ffffff;
    font-size: 1rem;
    margin-top: 1.9rem;
    width: 100%;
    align-self: center;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    background-color: #e30b5d;
    border-color: #e30b5d;
  }
