@import 'button';
@import 'allcontainer';
@import 'leftcontainer';
@import 'rightcontainer';
@import 'innerform';
@import 'arrow';
@import 'password';
@import 'header';
@import 'checkbox';
@import 'footer';
@import 'eye';

/*.all-container {
    background: url(./images/container-bg.png), #FFF;
    background-size: cover;
    max-width: 920px;
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    background-position: 28% center;
}


.signup-right-container {
    max-width: 30%;
    flex: 0 0 30%;
    background: #e7e7e7b0;
    padding: 20px;
}

.left-container {
    max-width: 70%;
    flex: 0 0 70%;
}

.left-container img {
    max-width: 270px;
}


form.signup.innerform .inputs input {
    display: block;
    width: 100%;
    height: 40px;
}

.all-container > div {
    @media(max-width: 767px) {
        max-width: 100%;
        flex: 0 0 100%;
    }
   
}

.arrow-signup {
    position: absolute;
    bottom: 0;
}*/