@import 'responsive';

header {
    display: flex;
    justify-content: end;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    float: right;
    width: 83%;
    height: 80px;

    @include for-mobile{
        width: 100%;
    }

    @include for-tablet-portrait{
        width: 100%;
    }

    @include for-tablet{
        width: 100%;
    }

    @include for-desktop{
        width: 100%;
    }
}

.sidebar-btn{
    position: absolute;
    //top: 0;
    height: 30px;
    width: 25px;
    background: none;
    border: none;
    padding: 2px;
}

.fa-bars{
    display: none;

    @include for-mobile{
        display: contents;
        
    }

    @include for-tablet-portrait{
        display: contents;
    }

    @include for-tablet{
        display: contents;
    }

    @include for-desktop{
        display: contents;
    }
}

header .fa-magnifying-glass{
    position: absolute;
    padding-left: 3rem;
    color: #696969;
}

.search-wrapper {
    height: 50px;
    width: 80%;
    display: flex;
    align-items: center;
}

.search-wrapper input{
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
    padding-left: 5rem;
    width: 100%;
    font-size: 1rem;
}

.user-wrapper{
    height: 50px;
    display: flex;
    align-items: center;
    color: #696969;
    width: 20%;
    justify-content: flex-end;
}

.user-wrapper span{
    padding-left: 1rem;
}

.sidebar{
    position: absolute;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 100vh;
    z-index: 11;
    width: 258px;

    @include for-mobile{
        transform: translateX(-100%);
        opacity:0;
        transition: transform .7s, opacity 1s;
    }

    @include for-tablet-portrait{
        transform: translateX(-100%);
        opacity:0;
        transition: transform .7s, opacity 1s;
    }

    @include for-tablet{
        transform: translateX(-100%);
        opacity:0;
        transition: transform .7s, opacity 1s;
    }

    @include for-desktop{
        transform: translateX(-100%);
        opacity:0;
        transition: transform .7s, opacity 1s;
    }

    @include for-desktop-big{
        width: 300px;
    }
}

.sidebar-dash{
    position: absolute;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 100vh;
    //z-index: 11;
    width: 100%;
    display: block;
}

// .menu_show {
// 	left: 0!important;
// }

.company-logo{
    height: auto;
    padding : 1.5rem 0rem 2.5rem 2rem;
    justify-content: center;
    color: #343434;
}

.company-logo h3{
    font-weight: 800;
}

.company-logo span{
    display: inline-block;
    padding-right: 1rem;
}

.sidebar-menu li{
    margin-top: 1rem;
    width: 100%;
    margin-bottom: 2.5rem;
    padding-left: 2rem;
    list-style-type: none;
}

.sidebar-menu a{
    color: #696969; 
    display: block;
    font-size: 1rem;
}

.sidebar-menu span{
    padding-right: 1rem;
}

.board{
    padding-left: 260px;
    
    @include for-mobile{
        padding:0;
    }

    @include for-tablet-portrait{
        padding:0;
    }

    @include for-tablet{
        padding:0;
    }

    @include for-desktop{
        padding:0;
    }
}

.user-management-container{
    padding: 130px 100px;

    @include for-mobile{
        padding: 130px 10px;
    }
}

.user-management-container table{
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.user-header{
    height: 4rem;
    background-color:  #289ae7;
    color: white;
}

.export{
    text-align: center;
}

.heading{
    padding-left: 2rem;
}

.heading h2{
    font-weight: 700;
}

.export-button{
    font-size: 1rem;
    width: 60%;
    align-self: center;
    padding: 0.55rem 0.5rem;
    border: none;
    color: #343434;
}

.column-heading{
    font-size: 1rem;
    height: 4rem;
    color: #08457e;
}

.column-heading td{
    font-weight: 600;
}

tbody td{
    padding: .5rem 0;
}

#action{
    color: #289ae7;
    padding: 0.5rem;
}

.fa-circle-xmark{
    color: red;
}

.img-name{
    display: flex;
    align-items: center;
}

tbody img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin: 1rem;
}

.footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

b{
    font-weight: 600;
}

td{
    border: none;
}

tr{
    border-bottom: 1px solid;
}