@import 'responsive';

header {
    display: flex;
    justify-content: end;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    float: right;
    width: 100%;
    height: 80px;
}

.fa-bars{
    padding-right: 1rem;
}

header .fa-magnifying-glass{
    position: absolute;
    padding-left: 2rem;
    color: #696969;
}

.search-wrapper {
    height: 50px;
    width: 80%;
    display: flex;
    align-items: center;
}

.search-wrapper input{
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
    padding-left: 5rem;
    width: 100%;
    font-size: 1rem;
}

.search{
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.user-wrapper{
    height: 50px;
    display: flex;
    align-items: center;
    color: #696969;
    width: 20%;
    justify-content: flex-end;
}

.dropdown {
    position: relative;
    display: inline-block;
}  

button.dropbtn {
    border: none;
    background: white;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #696969;
    text-decoration: none;
    display: block;
    background: white;
}

.dropdown span{
    padding-left: 1rem;
    padding-right: 1.5rem;
    color: #696969;
}

.company-logo{
    height: auto;
    padding : 1.5rem 0rem 2.5rem 2rem;
    justify-content: center;
    color: #343434;
}

.company-logo h3{
    font-weight: 800;
}

.company-logo span{
    display: inline-block;
    padding-right: 1rem;
}

.sidebar-menu li{
    margin-top: 1rem;
    width: 100%;
    margin-bottom: 2.5rem;
    padding-left: 2rem;
    list-style-type: none;
}

.sidebar-menu a{
    color: #696969; 
    display: block;
    font-size: 1rem;
}

.sidebar-menu span{
    padding-right: 1rem;
}



.user-management-container{
    padding: 130px 100px;

    @include for-mobile{
        padding: 130px 15px 100px;
    }
}

.user-management-container table{
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.user-header{
    height: 4rem;
    background-color:  #289ae7;
    color: white;
}

.export{
    text-align: center;
}

.heading{
    padding-left: 2rem;
}

.heading h2{
    font-weight: 700;
}

.export-button{
    font-size: 1rem;
    width: 60%;
    align-self: center;
    padding: 0.55rem 0.5rem;
    border: none;
    color: #343434;
}

.column-heading{
    font-size: 1rem;
    height: 4rem;
    color: #08457e;
}

.column-heading td{
    font-weight: 600;
}

tbody td{
    padding: .5rem 0;
}

#action{
    color: #289ae7;
    padding: 0.5rem;
}

.fa-circle-xmark{
    color: red;
}

.img-name{
    display: flex;
    align-items: center;
}

tbody img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin: 1rem;
}

.footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

b{
    font-weight: 600;
}

td{
    border: none;
}

tr{
    border-bottom: 1px solid;
}

.board,
header {
    transition: all .3s;
}

.sidebar{
    position: absolute;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 100vh;
    z-index: 11;
    width: 258px;
    transition: all .3s;
    left: -260px;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
}

#bars {
    cursor: pointer;
    padding: 10px 10px 10px 0;
    color: #696969;
}

.show-sidebar {
    .sidebar {
        left: 0;
        opacity: 1;
        visibility: visible;
        z-index: 99;
        height: 100vh;
    }
    .board {
        padding-left: 260px;
    }

    header {
        width: calc(100% - 258px);
    }

    @include for-mobile{
        .board {
            padding-left: 0;
        }
    
        header {
            width: 100%;
        }
    }
}

a.close {
    float: right;
    padding: 1rem;
}