@import url("https://fonts.googleapis.com/css?family=Lato:300,400|PT+Sans:400,700");
 
 /*.icon_container img {
    position: absolute;
    top: 0;
    margin-left: 18.5rem;
    margin-top: 1rem;

   @include for-mobile {    
      
   }
 }*/

 .icon{
   position: absolute;
   right: 15px;
   top: 15px;
   font-size: 1rem;
   height: 100%;
   display: flex;
   cursor: pointer;
   color:black;
 }