  .innerform .endsentence{
    padding-top: 0.8rem;
    font-size: 0.8rem;
    text-align: center;
  }

  .footer{
    display: flex;
    justify-content: center;
    width: 100%;
    color: #696969;
    margin-top: 1rem;

    @include for-mobile{
      margin-top: 0.3rem;
    }
  }

  .footer p {
    font-size: 0.8rem;
    text-align: center;
  }

  .footer p a{
    text-decoration: none;
    color: #696969;
  }
