  .innerform .endsentence{
    padding-top: 0.8rem;
    font-size: 0.8rem;
    text-align: center;
  }

  .footer{
    color: #696969;
    margin-top: 1rem;
    width: 100%;

    @include for-mobile{
      margin-top: 0.3rem;
    }
  }

  .footer p {
    font-size: 0.8rem;
    text-align: center;
  }

  .footer p a{
    text-decoration: none;
    color: #696969;
  }


  /*.box-form .copyright-login{
    color: #696969;
  }

  .box-form .copyright-login p {
    font-size: 12px;
    text-align: center;
  }

  .box-form .copyright-login p a{
    text-decoration: none;
    color: #696969;
  }

  .box-form .hr-login{
    margin-top: 210px;
  }*/
  