 .header{
  width: 100%;
 }
 
 .box-form .header h2 {
    margin-top: 60px;
    font-size: 30px;
    line-height: 1;
    text-align: center;
  }

  .box-form .header h3 {
    font-size: 23px;
    margin-top: 70px;
    line-height: 0;
    text-align: center;
  }

  .box-form .header p {
    font-size: 14px;
    text-align: center;
  }

  .box-form .header p a{
    text-decoration: none;
    font-weight: 700;
    color: black;
  }