 .all-container .left-container{
    display: flex;
    padding: 20px;
    color: white;
    width: 65%;
    flex-direction: column;
    justify-content: space-between;

    @include for-mobile{
      max-width: 70%;
      flex: 0 0 70%;
    }
  }

  .left-container img {
    max-width: 270px;
    justify-content: left;
    @include for-mobile{
      padding:10px;
    }
  }

  .overlay{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    
  }

  .overlay-heading{
    font-size: 4rem;
    padding-top: 6rem;
    @include for-mobile{
      padding:1rem;
    }
  }

  .overlay-account{
    padding-top: 4rem;
    font-size: 1rem;
  }

  .overlay-account a{
    color: red;
  }