 .all-container .left-container{
    display: flex;
    padding: 1.5rem;
    color: white;
    width: 65%;
    flex-direction: column;
    justify-content: space-between;
  }

  .logo{
    width: 60%;
    padding: 1rem;
  }

  .overlay{
    display: flex;
    flex-direction: column;
    height: 55%;
    justify-content: space-between;
  }

  .overlay-heading{
    font-size: 4rem;
    padding-top: 6rem;
  }

  .overlay-account{
    padding-top: 4rem;
    font-size: 1rem;
  }

  .overlay-account a{
    color: red;
  }