  .validation-message{
    position: absolute;
    top: 20px;
    right: 0;
    padding: 15px;
    border-radius: 5px;
    background-color: #ff9999;
    border-left: 10px solid #e30b5d;
  }

  .validation-message.show{
    animation: show_slide 1s ease forwards; 
  }

  @keyframes show_slide { 
    0%{
        transform: translateX(100%);    
    }
    40%{
        transform: translateX(-10%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10px);
    }
  }

  .validation-message.hide{
    display: none;
  }
